svg#freepik_stories-visual-data:not(.animated) .animable {
    opacity: 0;

}

svg#freepik_stories-visual-data.animated #freepik--Gears--inject-39 {
    animation: 8s Infinite linear floating;
    animation-delay: 0s;
}

svg#freepik_stories-visual-data.animated #freepik--screen-1--inject-39 {
    animation: 8s Infinite linear floating;
    animation-delay: 0s;
}

svg#freepik_stories-visual-data.animated #freepik--screen-2--inject-39 {
    animation: 8s Infinite linear floating;
    animation-delay: 0s;
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}