@use "var";
@use "mixfun";



.about{
    width: 90vw;
    height: 100%;

}

.about_div{
    background: var.$c-white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 3em 3.5em;
    width: 90svh;
    height: auto;

    h4{
        @include mixfun.titleH2(var.$c-secundary);
    }

    p{
        @include mixfun.paragraph(var.$c-gray);
        margin-bottom: 2.5em;
    }

    &-list{
        width: 100%;
        margin: 0;
        padding: 0;

        li{
            @include mixfun.paragraph(var.$c-gray);
            list-style: none;
            text-align: center;
            margin-bottom: .8rem;
            
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        @include mixfun.media(1200px){
            max-width: 1100px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            

            li{
                width: 45%;
                max-width: 450px;              
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                text-align: center;
                margin-bottom: 2rem;
                padding: 1rem;

                transition: all 0.4s ease;
                border-radius: 15px;

            &:hover{
                box-shadow: 2px 4px 9px 0 rgba(0,0,0,0.13);
            }
            }
        }
    }

    @include mixfun.media(1200px){
        h4{
            max-width: 900px;
            margin-bottom: 2.5rem;
        }

        p{
            max-width: 900px;
        }
    }

    aside{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 1.5em;
        margin-top: 1em;
        @include mixfun.paragraph(var.$c-gray);

        @include mixfun.media(1200px){
            max-width: 900px;
            flex-direction: row;

            div{
                width: 250px;
                max-width: 380px;
                height: 7rem;
                border-radius: 15px;
                justify-content: space-evenly;
                transition: all 0.4s ease;

                &:hover{
                    box-shadow: 2px 4px 9px 0 rgba(0,0,0,0.13);
                }

                span{
                    color: var.$c-gray;
                }
            }
        }
        
        div{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .icon{
            @include mixfun.icon(2em, 75%, 3.5rem, auto)
        }
    }
    
}

.vision{

    div{
        margin-bottom: .5rem;
    }

    .solucions_div-text{
        margin-bottom: .4rem;
    }

    .about_div-paragraph{
        margin-bottom: .8rem;
    }

    .icon{
        @include mixfun.icon(2em, 10%, 3.5rem, auto)
    }

    @include mixfun.media(1200px){
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;


        div{
            width: 30%;
            max-width: 500px;
            padding: 1rem;
            transition: all 0.4s ease;
            border-radius: 15px;

            &:hover{
                box-shadow: 2px 4px 9px 0 rgba(0,0,0,0.13);
            }
            
            h4{
                color: var.$c-secundary;
                margin-bottom: .9rem;
            }

            p{
                margin-bottom: 0;
                color: var.$c-gray;
            }
        }
    }
}