@use "var";
@use "mixfun";

*{
  box-sizing: border-box;
}

html{
    font-family: var.$f-ff;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 16px;
    // overflow-wrap: break-word;
  }
  
.feed{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed_section{
    @include mixfun.feed_section;

    &:first-child{
    background-image: url(../../assets/background.webp);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    }

    &:nth-child(2){
      background-color: var.$c-white;
      }
    
    &:nth-child(3){
    background-color: var.$c-bg;
    }

    &:nth-child(4){
      background-color: var.$c-white;
      }

    &:nth-child(5){
      background-image: url(../../assets/hombreDatos.webp);
      background-repeat: no-repeat;
      background-size: cover;
      }
}

.info{
  width: 80%;
  max-width: 900px;
  height: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include mixfun.media(1200px){
    padding: 7rem 0;
  }

  &_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
