@use "var";


@mixin feed_section{
    width: 100vw;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin titleH2($c-t){
    margin: 0 0 1.3em;
    letter-spacing: 0.1em;
    font-family: var.$f-ff;
    color: $c-t;
    font-size: 1.3em;
    text-align: center;
    font-weight: 300;

    @include media(500px){
        font-size: 2em;   
    }

    @include media(1200px){
        font-size: 2.5rem;
    }
}

@mixin paragraph($c-p){
    margin: 0 0 1.3rem;
    text-align: center;
    font-size: 1rem;
    font-family: var.$f-fs; 
    color: $c-p;
    font-weight: 600;

    @include media(500px){
        font-size: 1.5em;
    }

    @include media(1200px){
        font-size: 1.5rem;
    }    
}

@mixin button($gb,$fc,$ta){
    width: 40%;
    max-width: 170px;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    letter-spacing: 0.04rem;
    background-color: $gb;
    color: $fc;
    text-align: $ta;
    font-family: var.$f-fs;
    font-size: 1.2rem;
    line-height: 2.4rem;

    @include media(500px){
        font-size: 2rem;
    };

    @include media(1200px){
        height: 3.5rem;
    }
}

@mixin media($width){
    @media (min-width: $width){
        @content;
    }
}