$f-ff: "futura", sans-serif;
$f-fs: "aileron", sans-serif;

$fw3: 300;
$fw4: 400;
$fw5: 500;
$fw6: 600;
$fw7: 700;

$c-bg: #201c3d;
$c-primary: #3ed2c6;
$c-secundary: #5754c9;
$c-white: #f2f2f2;
$c-gray: #404040;

$m-s: 15%;


