* {
  box-sizing: border-box;
}

html {
  font-family: "futura", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 16px;
}

.feed {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed_section {
  width: 100vw;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed_section:first-child {
  background-image: url(../../assets/background.webp);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.feed_section:nth-child(2) {
  background-color: #f2f2f2;
}
.feed_section:nth-child(3) {
  background-color: #201c3d;
}
.feed_section:nth-child(4) {
  background-color: #f2f2f2;
}
.feed_section:nth-child(5) {
  background-image: url(../../assets/hombreDatos.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  width: 80%;
  max-width: 900px;
  height: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .info {
    padding: 7rem 0;
  }
}
.info_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
    Mobile version with close menu
*/
.header {
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 50000;
}
.header_section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.header_section_logo {
  width: 120px;
}
.header_section_logo a {
  width: 100%;
  height: 100%;
}
.header_section_logo a img {
  width: 100%;
  height: 100%;
}
@media (min-width: 987px) {
  .header_section_img {
    display: none;
  }
}

.header_section_menu {
  width: 30px;
  height: 25px;
  margin-bottom: 0.8rem;
}
@media (min-width: 987px) {
  .header_section_menu {
    min-width: 60%;
    display: flex;
  }
  .header_section_menu .header_section_menu_list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_section_menu .header_section_menu_list a {
    color: #3ed2c6;
    text-decoration: none;
    font-size: 1.3em;
  }
}
@media (min-width: 1200px) {
  .header_section_menu .header_section_menu_list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_section_menu .header_section_menu_list a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.7em;
  }
}
.header_section_menu .header_section_menu_item {
  display: none;
}
@media (min-width: 987px) {
  .header_section_menu .header_section_menu_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}
.header_section_menu .open-burger {
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}
@media (min-width: 987px) {
  .header_section_menu .open-burger {
    display: none;
  }
}
.header_section_menu .open-burger .line-one {
  width: 30px;
  height: 3px;
  background-color: #5754c9;
  transform-origin: 5px 0px;
  transition: all 0.4s linear;
}
.header_section_menu .open-burger .line-two {
  width: 30px;
  height: 3px;
  background-color: #5754c9;
}
.header_section_menu .open-burger .line-three {
  width: 30px;
  height: 3px;
  background-color: #5754c9;
  transform-origin: -4.5px 0px;
  transition: all 0.4s linear;
}

.header .close-burger .line-one {
  transform: rotate(45deg) translate(0px, 1px);
}
.header .close-burger .line-two {
  display: none;
}
.header .close-burger .line-three {
  transform: rotate(-45deg) translate(0px, 1px);
}
.header .close-burger .header_section_menu_item {
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: #201c3d;
  width: 150px;
  height: 16.5em;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.2rem;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 5px;
  border-top: none;
  border-right: none;
}
.header .close-burger .header_section_img {
  width: 40px;
  height: 40px;
}
.header .close-burger .header_section_img img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.header .close-burger .header_section_img img:hover {
  width: 43px;
  height: 43px;
}
.header .close-burger .header_section_menu_list {
  list-style: none;
  font-family: "futura", sans-serif;
  font-size: 1.3rem;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.header .close-burger .header_section_menu_list a {
  color: #3ed2c6;
  text-decoration: none;
}
.header .close-burger .header_section_menu_list a:hover {
  font-size: 1.4rem;
  text-decoration: none;
}

.cover {
  width: 80vw;
  height: 100svh;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  flex-wrap: wrap;
  padding: 6em 0 3em;
}
@media (min-width: 1200px) {
  .cover {
    padding-top: 10rem;
    flex-direction: row;
  }
}
.cover_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 1200px) {
  .cover_text {
    max-width: 50%;
  }
}
.cover_text_title {
  font-family: "futura", sans-serif;
  font-size: 1.5rem;
  color: #3ed2c6;
  line-height: 2rem;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
}
@media (min-width: 500px) {
  .cover_text_title {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (min-width: 1200px) {
  .cover_text_title {
    font-size: 2.5rem;
  }
}
.cover_text_subtitle {
  line-height: 1.5rem;
  color: #f2f2f2;
  font-family: "aileron", sans-serif;
  font-size: 1rem;
  text-align: center;
}
@media (min-width: 500px) {
  .cover_text_subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1200px) {
  .cover_text_subtitle {
    display: none;
  }
}
.cover_img {
  min-width: 300px;
  width: 100%;
  max-width: 7000px;
  height: 60%;
}
@media (min-width: 1200px) {
  .cover_img {
    max-width: 50%;
  }
}
.cover_img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.cover_text_subtitle-ind {
  display: none;
}
@media (min-width: 1200px) {
  .cover_text_subtitle-ind {
    margin: 0 0 1.3rem;
    text-align: center;
    font-size: 1rem;
    font-family: "aileron", sans-serif;
    color: #f2f2f2;
    font-weight: 600;
    font-size: 1.5rem !important;
    display: block;
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 1200px) and (min-width: 500px) {
  .cover_text_subtitle-ind {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .cover_text_subtitle-ind {
    font-size: 1.5rem;
  }
}

.about {
  width: 100vw;
  height: 100svh;
}
.about br {
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  .about {
    max-width: 90vw;
  }
}

.about_div {
  background: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 6em 3.5em 3em;
}
.about_div h4 {
  margin: 0 0 1.3em;
  letter-spacing: 0.1em;
  font-family: "futura", sans-serif;
  color: #5754c9;
  font-size: 1.3em;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 500px) {
  .about_div h4 {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  .about_div h4 {
    font-size: 2.5rem;
  }
}
.about_div p {
  margin: 0 0 1.3rem;
  text-align: center;
  font-size: 1rem;
  font-family: "aileron", sans-serif;
  color: #404040;
  font-weight: 600;
  margin-bottom: 2.5em;
}
@media (min-width: 500px) {
  .about_div p {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  .about_div p {
    font-size: 1.5rem;
  }
}
.about_div-list {
  width: 100%;
  margin: 0;
  padding: 0;
}
.about_div-list li {
  margin: 0 0 1.3rem;
  text-align: center;
  font-size: 1rem;
  font-family: "aileron", sans-serif;
  color: #404040;
  font-weight: 600;
  list-style: none;
  text-align: center;
  margin-bottom: 0.8rem;
}
@media (min-width: 500px) {
  .about_div-list li {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  .about_div-list li {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .about_div-list {
    max-width: 900px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about_div-list li {
    max-width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 2rem;
  }
  .about_div-list li .icon-who {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .about_div h4 {
    max-width: 900px;
    margin-bottom: 2.5rem;
  }
  .about_div p {
    max-width: 900px;
  }
}
.about_div aside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1em;
  margin: 0 0 1.3rem;
  text-align: center;
  font-size: 1rem;
  font-family: "aileron", sans-serif;
  color: #404040;
  font-weight: 600;
}
@media (min-width: 500px) {
  .about_div aside {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  .about_div aside {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .about_div aside {
    max-width: 900px;
    flex-direction: row;
  }
  .about_div aside div {
    width: 250px;
    max-width: 380px;
    height: 7rem;
    border-radius: 15px;
    justify-content: space-evenly;
  }
  .about_div aside div span {
    color: #404040;
    font-weight: 700;
  }
}
.about_div aside div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about_div aside div .icon {
  width: 38px;
  height: 38px;
}
@media (min-width: 1200px) {
  .about_div aside div .icon {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1200px) {
  .hola {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 17rem;
  }
  .hola div {
    width: 30%;
    max-width: 350px;
    border-radius: 15px;
    padding: 13px;
  }
  .hola div h4 {
    color: #5754c9;
  }
  .hola div p {
    margin-bottom: 0;
    color: #404040;
  }
}

.product .info {
  padding-bottom: 0;
}
.product .info_text_title {
  margin: 0 0 1.3em;
  letter-spacing: 0.1em;
  font-family: "futura", sans-serif;
  color: #3ed2c6;
  font-size: 1.3em;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 500px) {
  .product .info_text_title {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  .product .info_text_title {
    font-size: 2.5rem;
  }
}
.product .info_text_paragraph {
  margin: 0 0 1.3rem;
  text-align: center;
  font-size: 1rem;
  font-family: "aileron", sans-serif;
  color: #f2f2f2;
  font-weight: 600;
  font-size: 1.8rem !important;
  display: block;
}
@media (min-width: 500px) {
  .product .info_text_paragraph {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  .product .info_text_paragraph {
    font-size: 1.5rem;
  }
}
.product .info_text_list {
  padding: 0;
  margin: 3em 0;
  width: 85%;
}
@media (min-width: 1200px) {
  .product .info_text_list {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    margin-bottom: 0;
  }
}
.product .info_text_list-item {
  margin: 0 0 1.3rem;
  text-align: center;
  font-size: 1rem;
  font-family: "aileron", sans-serif;
  color: #3ed2c6;
  font-weight: 600;
  text-align: left;
}
@media (min-width: 500px) {
  .product .info_text_list-item {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  .product .info_text_list-item {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .product .info_text_list-item {
    width: 260px;
    height: 4.5rem;
    text-align: center;
    background-color: #5754c9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
    color: #f2f2f2;
    font-size: 1.3rem;
    margin-bottom: 50px;
  }
}
.product .info_text_title-img {
  width: 100vw;
  height: auto;
  opacity: 0.5;
}
@media (min-width: 1200px) {
  .product .info_text_title-img {
    max-width: 100vw;
    height: auto;
    object-fit: cover;
  }
}
.product .info_text_title-img .Product_img {
  width: 100%;
}

.service .info_text_title {
  margin: 0 0 1.3em;
  letter-spacing: 0.1em;
  font-family: "futura", sans-serif;
  color: #5754c9;
  font-size: 1.3em;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 500px) {
  .service .info_text_title {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  .service .info_text_title {
    font-size: 2.5rem;
  }
}
.service .acordeon label {
  display: block;
  width: 70%;
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 15px;
  background-color: #5754c9;
  color: #f2f2f2;
  text-align: center;
  transition: all 0.4s ease;
  font-family: "aileron", sans-serif;
}
.service .acordeon label:hover {
  background-color: #f2f2f2;
  color: #5754c9;
}
@media (min-width: 500px) {
  .service .acordeon label {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .service .acordeon label {
    width: 750px;
  }
}
.service .acordeon .acordeon-conteiner {
  padding: 0;
  margin: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.4s ease;
  color: #404040;
  font-size: 1rem;
}
.service .acordeon_btn:checked ~ .acordeon-conteiner {
  max-height: 600px;
  width: 100%;
  margin-bottom: 5%;
}
.service .acordeon_btn:checked ~ .acordeon-conteiner p {
  font-size: 1rem;
  font-family: "aileron", sans-serif;
  font-weight: 400;
  color: #404040;
  text-align: justify;
}
@media (min-width: 500px) {
  .service .acordeon_btn:checked ~ .acordeon-conteiner p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .service .acordeon_btn:checked ~ .acordeon-conteiner p {
    max-width: 900px;
  }
}
.service .acordeon_btn {
  display: none;
}

.contact .info_text_title {
  margin: 0 0 1.3em;
  letter-spacing: 0.1em;
  font-family: "futura", sans-serif;
  color: #3ed2c6;
  font-size: 1.3em;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 500px) {
  .contact .info_text_title {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  .contact .info_text_title {
    font-size: 2.5rem;
  }
}
.contact .contact_form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  font-family: "aileron", sans-serif;
  margin: 1.5em 0;
}
@media (min-width: 1200px) {
  .contact .contact_form {
    max-width: 900px;
  }
}
.contact .contact_form .contact_input {
  width: 90%;
  color: #404040;
  border: none;
  border-radius: 15px;
  line-height: 2rem;
  padding-left: 0.8rem;
  padding-bottom: 0.125rem;
}
@media (min-width: 500px) {
  .contact .contact_form .contact_input {
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin-top: 1rem;
  }
}
.contact .contact_form .contact_input:focus {
  border: none;
  outline: none;
}
.contact .contact_form .contact_input:nth-child(6) {
  height: 5em;
  line-height: 1.2em;
  padding-top: 0.5em;
  resize: none;
}
.contact .contact_form_btn {
  width: 40%;
  max-width: 170px;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  letter-spacing: 0.04rem;
  background-color: #5754c9;
  color: #f2f2f2;
  text-align: center;
  font-family: "aileron", sans-serif;
  font-size: 1.2rem;
  line-height: 2.4rem;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.2s;
  margin-top: 1.5em;
}
@media (min-width: 500px) {
  .contact .contact_form_btn {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .contact .contact_form_btn {
    height: 3.5rem;
  }
}
.contact .contact_form_btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.contact .contact_form_btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.contact .contact_form_btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.contact .contact_form_btn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
.contact .contact_form_btn:hover span {
  transform: translateX(5em);
}
.contact .contact_form_btn:active {
  transform: scale(0.95);
}

.footer {
  width: 100vw;
  min-height: 70svh;
  background-color: #201c3d;
}
.footer_text {
  margin: 40% auto;
  width: 80%;
  height: auto;
}
.footer_text .footer_item {
  text-decoration: none;
  color: #3ed2c6;
  font-family: "aileron", sans-serif;
  font-size: 1rem;
  text-align: center;
}
.footer .login {
  background-color: #f2f2f2;
  width: 6rem;
  padding: 0.5rem 0;
  border-radius: 15px;
  color: #5754c9;
  margin-top: 1rem;
  text-align: center;
}
.footer .footer-CR {
  display: block;
  width: 100%;
  line-height: 1.5rem;
  font-family: "aileron", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding: 3vw 0;
  color: #5754c9;
  background-color: #f2f2f2;
  margin-bottom: 0;
}
@media (min-width: 500px) {
  .footer .footer-CR {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
